/* Variables */
:root {
  --color-light: #f9f9f9;
  --color-main: #3f74b5;
  --color-main-alt: #305889;
  --color-main-light: #3f74b530;
  --color-main-lightest: #3f74b51a;

  --padding-main: 20px;
  --padding-section-top: 100px;
  --padding-section-bottom: 100px;

  --transition-main: 0.3s;
}

/* Globales */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  /* font-family: 'Cairo', sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
}
input {
  border: none;
  outline: none;
}
textarea {
  border: none;
  outline: none;
}
input:focus {
  outline: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.main-section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 225px;
  margin: 0px auto 100px;
  padding: 10px 20px;
  font-size: 30px;
  color: var(--color-main);
}
@media (max-width: 767px) {
  .main-section-title {
    font-size: 25px;
    width: 195px;
  }
}
.main-section-title .horizontal::before,
.main-section-title .horizontal::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 3px;
  background-color: var(--color-main);
}
@media (max-width: 767px) {
  .main-section-title .horizontal::before,
  .main-section-title .horizontal::after {
    width: 250px;
  }
}
.main-section-title .horizontal::before {
  top: 0;
  animation: right-to-left-l var(--transition-main) linear forwards;
}
@media (max-width: 767px) {
  .main-section-title .horizontal::before {
    animation: right-to-left-s var(--transition-main) linear forwards;
  }
}
.main-section-title .horizontal::after {
  bottom: 0;
  animation: left-to-right-l var(--transition-main) linear forwards;
}
@media (max-width: 767px) {
  .main-section-title .horizontal::after {
    animation: left-to-right-s var(--transition-main) linear forwards;
  }
}
.main-section-title .vertical::before,
.main-section-title .vertical::after {
  content: "";
  position: absolute;
  height: 100px;
  width: 3px;
  background-color: var(--color-main);
}
@media (max-width: 767px) {
  .main-section-title .vertical::before,
  .main-section-title .vertical::after {
    height: 80px;
  }
}
.main-section-title .vertical::before {
  left: 0;
  animation: top-to-bottom-l var(--transition-main) linear forwards;
}
@media (max-width: 767px) {
  .main-section-title .vertical::before {
    animation: top-to-bottom-s var(--transition-main) linear forwards;
  }
}
.main-section-title .vertical::after {
  right: 0;
  animation: bottom-to-top-l var(--transition-main) linear forwards;
}
@media (max-width: 767px) {
  .main-section-title .vertical::after {
    animation: bottom-to-top-s var(--transition-main) linear forwards;
  }
}

.main-section-title:hover .horizontal::before {
  animation: left-to-right-l var(--transition-main) linear forwards;
}
@media (max-width: 767px) {
  .main-section-title:hover .horizontal::before {
    animation: left-to-right-s var(--transition-main) linear forwards;
  }
}
.main-section-title:hover .horizontal::after {
  animation: right-to-left-l var(--transition-main) linear forwards;
}
@media (max-width: 767px) {
  .main-section-title:hover .horizontal::after {
    animation: right-to-left-s var(--transition-main) linear forwards;
  }
}
.main-section-title:hover .vertical::before {
  animation: bottom-to-top-l var(--transition-main) linear forwards;
}
@media (max-width: 767px) {
  .main-section-title:hover .vertical::before {
    animation: bottom-to-top-s var(--transition-main) linear forwards;
  }
}
.main-section-title:hover .vertical::after {
  animation: top-to-bottom-l var(--transition-main) linear forwards;
}
@media (max-width: 767px) {
  .main-section-title:hover .vertical::after {
    animation: top-to-bottom-s var(--transition-main) linear forwards;
  }
}

@keyframes left-to-right-l {
  from {
    right: 0;
  }
  to {
    right: -75px;
  }
}
@keyframes right-to-left-l {
  from {
    left: 0;
  }
  to {
    left: -75px;
  }
}

@keyframes top-to-bottom-l {
  from {
    top: 0;
  }
  to {
    top: -30px;
  }
}
@keyframes bottom-to-top-l {
  from {
    bottom: 0;
  }
  to {
    bottom: -30px;
  }
}
@keyframes left-to-right-s {
  from {
    right: 0;
  }
  to {
    right: -56px;
  }
}
@keyframes right-to-left-s {
  from {
    left: 0;
  }
  to {
    left: -56px;
  }
}

@keyframes top-to-bottom-s {
  from {
    top: 0;
  }
  to {
    top: -17px;
  }
}
@keyframes bottom-to-top-s {
  from {
    bottom: 0;
  }
  to {
    bottom: -17px;
  }
}

/* ---------------------------------------------- */

/****** Start Header ******/
.header {
  position: relative;
}
@media (min-width: 992px) {
  .header {
    height: 100vh;
  }
}
.header::before {
  content: "";
  background-color: var(--section-background);
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 100%;
  transform: skewY(-6deg);
  z-index: -1;
  transform-origin: top left;
  background-color: var(--color-main-lightest);
}
/* Start Navbar */
.header .navbar {
  background-color: #f9f9f9ed;
  box-shadow: 0px 1px 15px -4px #ddd;
  z-index: 100;
  width: 100%;
  position: fixed;
}
.header .navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  position: relative;
}
@media (max-width: 767px) {
  .header .navbar .container {
    height: 70px;
  }
}
.header .navbar .logo {
  color: var(--color-main);
}
.header .navbar .logo > h1 {
  padding: var(--padding-main);
  font-size: 30px;
}
@media (max-width: 767px) {
  .header .navbar .logo > h1 {
    font-size: 25px;
  }
}
.header .navbar .menu-btn {
  height: 100%;
  padding: 10px;
  cursor: pointer;
  display: none;
  transition: var(--transition-main);
}
@media (max-width: 600px) {
  .header .navbar .menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.header .navbar .menu-btn > i {
  font-weight: 900;
  font-size: 30px;
  color: var(--color-main);
  transition: var(--transition-main);
}
.header .navbar .menu-btn:hover > i {
  color: var(--color-main-alt);
}
.header .navbar .nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  transition: var(--transition-main);
}
@media (max-width: 600px) {
  .header .navbar .nav-links {
    position: absolute;
    width: 100%;
    height: 0;
    flex-direction: column;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #5b81b2;
    z-index: 1;
    overflow: hidden;
  }
  .header .navbar .menu-btn.hide + ul.nav-links {
    height: 0;
  }
  .header .navbar .menu-btn.display + ul.nav-links {
    height: 300px;
  }
}
.header .navbar .nav-links > li {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: var(--transition-main);
}
.header .navbar .nav-links > li:hover {
  color: var(--color-main);
}
@media (max-width: 600px) {
  .header .navbar .nav-links > li {
    margin-bottom: 1px;
    background-color: var(--color-main-alt);
    width: 100%;
    color: white;
  }
  .header .navbar .nav-links > li:hover {
    background-color: var(--color-main);
    color: white;
  }
}
.header .navbar .nav-links > li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: var(--color-main);
  transition: var(--transition-main);
}
@media (max-width: 600px) {
  .header .navbar .nav-links > li::before {
    display: none;
  }
}
.header .navbar .nav-links > li:hover::before {
  width: 100%;
}
.header .navbar .nav-links > li > a {
  display: block;
  font-size: 17px;
  padding: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .header .navbar .nav-links > li > a {
    font-size: 15px;
  }
}
/* End Navbar */

/* Start Profile */
.header .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 85px);
  position: relative;
}
@media (max-width: 767px) {
  .header .profile {
    height: calc(100% - 70px);
  }
}
.header .profile .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: -70px auto 0;
}
@media (max-width: 991px) {
  .header .profile .container {
    flex-direction: column;
    margin: 30px auto;
  }
}
@media (max-width: 600px) {
  .header .profile .container {
    margin: 0 auto;
  }
}
.header .profile .col-left {
  position: relative;
}
@media (max-width: 992px) {
  .header .profile .col-left {
    margin-top: 100px;
  }
}
.header .profile .col-left::before {
  content: "";
  position: absolute;
  top: 11%;
  left: 50%;
  width: 45%;
  height: 15%;
  background-color: var(--color-main-light);
  border-radius: 0 50px 0 0;
}
@media (max-width: 767px) {
  .header .profile .col-left::before {
    display: none;
  }
}
.header .profile .col-left::after {
  content: "";
  position: absolute;
  bottom: 11%;
  right: 50%;
  width: 45%;
  height: 15%;
  background-color: var(--color-main-light);
  border-radius: 0 0 0 50px;
}
@media (max-width: 767px) {
  .header .profile .col-left::after {
    display: none;
  }
}
.header .profile .image {
  margin: 50px;
  width: 350px;
  height: 350px;
  position: relative;
  border-radius: 50%;
  filter: drop-shadow(0 0 3.75px #777);
}
@media (max-width: 767px) {
  .header .profile .image {
    width: 250px;
    height: 250px;
    margin-bottom: 35px;
  }
}
.header .profile .image > img {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  border-radius: 50%;
  border: 3px solid white;
}
.header .profile .text {
  padding: 50px 50px 0;
  position: relative;
}
@media (max-width: 991px) {
  .header .profile .text {
    padding: 20px;
    text-align: center;
  }
}
.header .profile .text .main-title {
  font-size: 40px;
  color: var(--color-main);
}
@media (max-width: 767px) {
  .header .profile .text .main-title {
    font-size: 32px;
  }
}
.header .profile .text .profession {
  font-size: 20px;
  color: #777;
  font-weight: normal;
  margin: 10px 0 20px;
}
@media (max-width: 767px) {
  .header .profile .text .profession {
    font-size: 18px;
  }
}
.header .profile .text .bref-bio {
  max-width: 500px;
  line-height: 1.6;
  color: #444;
}
@media (max-width: 767px) {
  .header .profile .text .bref-bio {
    max-width: 400px;
  }
}
/* End Profile */

/****** End Header ******/

/****** Start Services ******/
.services {
  position: relative;
  padding-top: var(--padding-section-top);
  padding-bottom: var(--padding-section-bottom);
  min-height: 100vh;
  background-color: white;
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.services .box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  padding: 30px 20px;
  box-shadow: 0px 0px 20px -3px #c0d6f1;
  border-radius: 10px;
  transition: var(--transition-main);
}
.services .box:hover {
  transform: translateY(-10px);
}
.services .box > i {
  color: var(--color-main);
}
.services .box .text {
  text-align: center;
}
.services .box .text > h3 {
  color: var(--color-main);
  font-size: 23px;
}
.services .box .text > p {
  line-height: 1.6;
  max-width: 90%;
  margin: 15px auto;
  color: #555;
  font-size: 16px;
}

/****** End Services ******/

/****** Start Projects ******/

.projects {
  position: relative;
  padding-top: var(--padding-section-top);
  padding-bottom: var(--padding-section-bottom);
  min-height: 110vh;
  background-color: var(--color-main-lightest);
}
.projects .carousel-wrapper {
  width: 100%;
  height: 340px;
  background-image: url("../imgs/slider-bg.webp");
  background-position: top;
  background-size: cover;
  position: relative;
}
@media (max-width: 992px) {
  .projects .carousel-wrapper {
    height: 315px;
  }
}
.projects .carousel-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 25%);
}
.projects .carousel-wrapper .left-arrow,
.projects .carousel-wrapper .right-arrow {
  color: white;
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  cursor: pointer;
  transition: var(--transition-main);
  z-index: 2;
}
@media (max-width: 992px) {
  .projects .carousel-wrapper .left-arrow,
  .projects .carousel-wrapper .right-arrow {
    width: 50px;
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .projects .carousel-wrapper .left-arrow,
  .projects .carousel-wrapper .right-arrow {
    width: 50px;
    height: 50px;
    color: var(--color-main-alt);
    background-color: var(--color-main-light);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  .projects .carousel-wrapper .left-arrow {
    left: 20px;
  }
  .projects .carousel-wrapper .right-arrow {
    right: 20px;
  }
}
@media (max-width: 500px) {
  .projects .carousel-wrapper .left-arrow,
  .projects .carousel-wrapper .right-arrow {
    display: none;
  }
}
.projects .carousel-wrapper .left-arrow {
  left: 0;
}
.projects .carousel-wrapper .right-arrow {
  right: 0;
}
@media (max-width: 767px) {
  .projects .carousel-wrapper .left-arrow {
    left: 10px;
  }
  .projects .carousel-wrapper .right-arrow {
    right: 10px;
  }
}
.projects .carousel-wrapper .left-arrow:hover,
.projects .carousel-wrapper .right-arrow:hover {
  background-color: rgba(255, 255, 255, 12%);
}
.projects .carousel-wrapper .left-arrow > i,
.projects .carousel-wrapper .right-arrow > i {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.projects .carousel {
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 600px;
  margin: 0 100px;
}
@media (max-width: 992px) {
  .projects .carousel {
    margin: 0 50px;
  }
}
@media (max-width: 767px) {
  .projects .carousel {
    margin: 0 20px;
  }
}
.projects .carousel::-webkit-scrollbar {
  display: none;
}

.projects .carousel .cards {
  display: flex;
  gap: 30px;
  padding: 30px 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: 0.5s;
}
.projects .carousel .cards .card {
  width: 400px;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
  height: 100%;
  transition: var(--transition-main);
  cursor: pointer;

  background: rgba(255, 255, 255, 0.2);
  box-shadow: 1px 1px 20px 1px var(--color-main);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
@media (min-width: 992px) {
  .projects .carousel .cards .card:hover {
    transform: translateY(-10px);
  }
}
@media (max-width: 992px) {
  .projects .carousel .cards .card {
    width: 370px;
  }
}
@media (max-width: 500px) {
  .projects .carousel .cards .card {
    width: 320px;
  }
}
.projects .carousel .cards .card .card-head {
  width: 100%;
  height: 47%;
  position: relative;

  transform-style: preserve-3d;
  transition: transform 1s;
}
@media (max-width: 992px) {
  .projects .carousel .cards .card .card-head {
    height: 45%;
  }
}
@media (max-width: 992px) {
  .projects .carousel .cards .card .card-head {
    height: 40%;
  }
}
.projects .carousel .cards .card .card-head.selected {
  transform: rotateY(-180deg);
}
.projects .carousel .cards .card .card-head .face {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  color: white;

  backface-visibility: hidden;
}
.projects .carousel .cards .card .card-head .back {
  transform: rotateY(180deg);
}
.projects .carousel .cards .card .card-head img {
  width: 100%;
  height: 100%;
}
.projects .carousel .cards .card .card-head .card-head-btns {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #30588947;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: var(--transition-main);
  overflow: hidden;
}
.projects .carousel .cards .card .card-head .card-head-btns > a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 17px;
  font-weight: bold;
  background-color: #30588947;
  color: white;
  letter-spacing: 1.7px;
  position: relative;
  overflow: hidden;
}
.projects .carousel .cards .card .card-head .card-head-btns > a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #30588955;
  z-index: -1;
  transition: var(--transition-main);
}
.projects .carousel .cards .card .card-head .card-head-btns > a:hover::before {
  left: 0;
}
.projects .carousel .cards .card .card-head .card-head-btns > a > i {
  margin-right: 10px;
}
.projects .carousel .cards .card .card-body {
  width: 100%;
  height: 53%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  position: relative;
}
@media (max-width: 992px) {
  .projects .carousel .cards .card .card-body {
    height: 60%;
  }
}
.projects .carousel .cards .card .text {
  padding: 15px;
  flex: 1;
}
.projects .carousel .cards .card .text > h3 {
  font-size: 20px;
  color: var(--color-main-alt);
  border-bottom: 1px solid var(--color-main);
  padding-bottom: 15px;
  letter-spacing: 2px;
}
.projects .carousel .cards .card .text > p {
  line-height: 1.7;
  margin-top: 20px;
  color: var(--color-main-alt);
}
@media (max-width: 500px) {
  .projects .carousel .cards .card .text > p {
    line-height: 1.5;
  }
}
.projects .carousel .cards .card .info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-image: url("../imgs/slider-card-bg.webp");
  background-position: top;
  background-size: cover;
  position: relative;
}
.projects .carousel .cards .card .info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 25%);
}
.projects .carousel .cards .card .info > div {
  z-index: 1;
}
/* .projects .carousel .cards .card .info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin: 0 15px;
  font-size: 14px;
  color: var(--color-main-alt);
  border-top: 1px solid var(--color-main-alt);
  font-weight: bold;
} */
.projects .carousel .cards .card .info span {
  font-weight: normal;
}
.projects .carousel .cards .card .tags {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}
.projects .carousel .cards .card .tags .tag {
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 30px;
  min-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.projects .carousel .cards .card .tags .tag.html {
  color: #f44336;
  border-color: #f44336;
}
.projects .carousel .cards .card .tags .tag.css {
  color: #2196f3;
  border-color: #2196f3;
}
.projects .carousel .cards .card .tags .tag.bootstrap {
  color: #712cf9;
  border-color: #712cf9;
}
.projects .carousel .cards .card .tags .tag.sass {
  color: #cc6699;
  border-color: #cc6699;
}
.projects .carousel .cards .card .tags .tag.js {
  color: #ffc107;
  border-color: #ffc107;
}
.projects .carousel .cards .card .tags .tag.api {
  color: goldenrod;
  border-color: goldenrod;
}
.projects .carousel .cards .card .tags .tag.php {
  color: #4f5b93;
  border-color: #4f5b93;
}
.projects .carousel .cards .card .tags .tag.mysql {
  color: #f29111;
  border-color: #f29111;
}
.projects .carousel .cards .card .card-btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.projects .carousel .cards .card .card-btns > a {
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 5px;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects .carousel .cards .card .card-btns > a i {
  margin-right: 7px;
}

/****** End Projects ******/

/****** Start About ******/
.about {
  position: relative;
  padding-top: var(--padding-section-top);
  padding-bottom: var(--padding-section-bottom);
  margin-top: 50px;
  min-height: 100vh;
}
@media (max-width: 767px) {
  .about .container {
    margin-left: 20px;
    margin-right: 20px;
  }
}
.about .text {
  margin-bottom: 40px;
}
.about .text > h3 {
  font-size: 25px;
  margin-bottom: 10px;
  color: var(--color-main-alt);
}
.about .text > p {
  line-height: 1.5;
}
.about .history {
  margin-left: 100px;
  margin-right: 150px;
  padding: 50px 0 50px 50px;
  border-left: 3px solid var(--color-main-alt);
}
@media (max-width: 992px) {
  .about .history {
    margin-right: 50px;
  }
}
@media (max-width: 767px) {
  .about .history {
    border-left: none;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }
}
.about .history .point {
  position: relative;
  background-color: var(--color-main-lightest);
  padding: 20px;
  border-radius: 0 20px 20px 0;
  border-left: 3px solid var(--color-main-alt);
  box-shadow: 5px 5px 20px -15px var(--color-main);
}
.about .history .point:not(:last-child) {
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .about .history .point:not(:last-child) {
    margin-bottom: 30px;
  }
}
.about .history .point::before {
  content: attr(data-date);
  position: absolute;
  top: 50%;
  left: -160px;
  transform: translateY(-50%);
  width: 90px;
  color: var(--color-main-alt);
  text-align: right;
  font-weight: bold;
}
@media (max-width: 767px) {
  .about .history .point::before {
    content: "( " attr(data-date) " )";
    width: 110px;
    top: 30px;
    left: 120px;
    text-align: left;
  }
}
.about .history .point::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -63px;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border: 3px solid var(--color-main-alt);
  border-radius: 50%;
  background-color: white;
}
@media (max-width: 767px) {
  .about .history .point::after {
    display: none;
  }
}
.about .history .point > h4 {
  font-size: 18px;
  margin-bottom: 7px;
  color: var(--color-main-alt);
}
.about .history .point > p {
  line-height: 1.5;
}
/****** End About ******/

/****** Start Contact ******/
.contact {
  position: relative;
  padding-top: var(--padding-section-top);
  padding-bottom: var(--padding-section-bottom);
  margin-top: 50px;
  min-height: 100vh;
  background-color: var(--color-light);
}
.contact .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 992px) {
  .contact .container {
    width: 90%;
  }
}
.contact .image {
  width: 50%;
  position: relative;
}
@media (max-width: 767px) {
  .contact .image {
    display: none;
  }
}
.contact .image > img {
  width: 100%;
  position: absolute;
  bottom: -177px;
  left: 0;
  color: var(--color-main);
}
.contact form {
  width: 55%;
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
}
@media (max-width: 767px) {
  .contact form {
    width: 100%;
  }
}
.contact form > input,
.contact form > textarea {
  padding: 15px 20px;
  border: 1px solid var(--color-main-lightest);
  color: #333;
  font-size: 16px;
  border-radius: 10px;
}
.contact form > input:not(:last-of-type) {
  margin-bottom: 20px;
}
.contact form #first-name {
  width: calc(50% - 10px);
  margin-right: 20px;
}
.contact form #last-name {
  width: calc(50% - 10px);
}
.contact form #email,
.contact form #subject {
  width: 100%;
}
.contact form #message {
  width: 100%;
  height: 220px;
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
}
.contact form input[type="submit"] {
  width: fit-content;
  font-size: 20px;
  font-weight: bold;
  background-color: var(--color-main);
  color: white;
  padding: 15px 30px;
  margin-left: auto;
  cursor: pointer;
  transition: var(--transition-main);
  margin-top: 20px;
}
@media (max-width: 767px) {
  .contact form input[type="submit"] {
    width: 100%;
  }
}
.contact form input[type="submit"]:hover {
  background-color: var(--color-main-alt);
}

/****** End Contact ******/

/****** Start Footer ******/
.footer {
  position: relative;
  padding-top: calc(var(--padding-section-top) / 3);
  padding-bottom: calc(var(--padding-section-bottom) / 3);
  background-image: url("../imgs/slider-bg.webp");
  background-size: cover;
  color: white;
  text-align: center;
}
.footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 70%);
}
.footer .container {
  position: relative;
}
.footer img {
  margin-bottom: 20px;
}
.footer p:not(.copyright) {
  padding: 20px;
  margin: 20px auto;
  text-transform: uppercase;
  border-bottom: 1px solid white;
  width: fit-content;
  font-size: 22px;
}
.footer .social-icons i {
  padding: 10px 15px;
  cursor: pointer;
  transition: var(--transition-main);
}
.footer .social-icons i:hover {
  color: var(--color-main);
}
.footer .copyright {
  margin-top: 40px;
}
.footer .copyright span {
  color: var(--color-main);
  font-weight: bold;
}
/****** End Footer ******/
